@page "/logout"
@using Blazored.LocalStorage
@inject ILocalStorageService localStorage
@inject NavigationManager Navigation

<h3>Выход</h3>

<button @onclick="HandleLogout" class="btn btn-primary">Выйти</button>

@code {
    private async Task HandleLogout()
    {
        await localStorage.RemoveItemAsync("user");
        
        Navigation.NavigateTo("/login");
    }
}